
h1 {
    font-size: 200%;
    width: 450px;
    background-color: rgb(141, 238, 141);
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 4px;
    border-radius: 8px 10px;
}


table {
    border-collapse: separate;
  
}

th, td  {
    padding: 8px;
}

th {
    background-color: #333366;
    color: white;
}

tr {
    background-color: beige;
    color: black;
}

.hautgauche {
    border-radius: 6px 0 0 0 ;
}

.hautdroite {
    border-radius: 0 6px 0 0;
}

.basdroite {
    border-radius: 0 0 6px 0;
}

.basgauche{
    border-radius: 0 0 0 6px;
}

td:hover {
    background-color: burlywood;
}

th:not(:last-child) {
  border-right: 1px solid beige;
}

td:not(:last-child) {
  border-right: 1px solid #333366;
}

tr:not(:last-child) th {
  border-bottom: 1px solid beige;
}

tr:not(:last-child) td {
  border-bottom: 1px solid #333366;
}
